<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerCustomers</servlet-name>
        <servlet-class>Controller.ControllerCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProducts</servlet-name>
        <servlet-class>Controller.ControllerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPro</servlet-name>
        <servlet-class>Controller.ControllerPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerKhachhang</servlet-name>
        <servlet-class>Controller.ControllerKhachhang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCartBean</servlet-name>
        <servlet-class>Controller.ControllerCartBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCartbean</servlet-name>
        <servlet-class>Controller.ControllerCartBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerCustomers</servlet-name>
        <url-pattern>/ControllerCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProducts</servlet-name>
        <url-pattern>/ControllerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPro</servlet-name>
        <url-pattern>/ControllerPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerKhachhang</servlet-name>
        <url-pattern>/ControllerKhachhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCartBean</servlet-name>
        <url-pattern>/ControllerCartBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCartbean</servlet-name>
        <url-pattern>/ControllerCartbean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
